<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2>Register</h2>
  <mat-form-field appearance="fill">
    <mat-label>Account name:</mat-label>
    <input matInput formControlName="accountName" type="text" maxlength="32" />
    @if (registerForm.controls.accountName.touched && registerForm.controls.accountName.hasError('required')) {
      <mat-error>Account name is required.</mat-error>
    }
    @if (registerForm.controls.accountName.touched && registerForm.controls.accountName.hasError('minlength')) {
      <mat-error>Account name must be at least 7 characters long.</mat-error>
    }
    @if (registerForm.controls.accountName.touched && registerForm.controls.accountName.hasError('maxlength')) {
      <mat-error>Account name must be at most 32 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" maxlength="64" />
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('required')) {
      <mat-error>Password is required.</mat-error>
    }
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('minlength')) {
      <mat-error>Password must be at least 7 characters long.</mat-error>
    }
    @if (registerForm.controls.password.touched && registerForm.controls.password.hasError('maxlength')) {
      <mat-error>Password must be at most 64 characters long.</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput formControlName="confirmPassword" type="password" maxlength="64" />
    @if (registerForm.controls.confirmPassword.touched && registerForm.controls.confirmPassword.hasError('matching')) {
      <mat-error>Passwords must match.</mat-error>
    }
  </mat-form-field>

  <p>
    You have an account already?
    <a [routerLink]="['/auth/login']">Login</a>
  </p>

  <button mat-raised-button color="primary" type="submit">Register</button>
</form>
