<app-breadcrumbs></app-breadcrumbs>

<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon matListItemIcon>home</mat-icon>
    <span matListItemTitle>Home</span>
  </a>
  <a mat-list-item routerLink="/files" routerLinkActive="active" *ngIf="hasEditorPrivileges">
    <mat-icon matListItemIcon>folder</mat-icon>
    <span matListItemTitle>Files</span>
  </a>
  <a mat-list-item routerLink="/chat" routerLinkActive="active">
    <mat-icon matListItemIcon>chat</mat-icon>
    <span matListItemTitle>Chat</span>
  </a>
  <a mat-list-item routerLink="/admin" routerLinkActive="active" *ngIf="hasAdminPrivileges">
    <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
    <span matListItemTitle>Admin</span>
  </a>
</mat-nav-list>
