<div class="home-container">
  <h1>{{ 'homeComponent.mainHeader' | translate }}</h1>

  <p>
    {{ 'homeComponent.systemDescription' | translate }}
  </p>

  <div class="card-container">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-card-title>{{ 'homeComponent.filesManagerTitle' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>{{ 'homeComponent.filesManagerBulletList.0' | translate }}</li>
          <li>{{ 'homeComponent.filesManagerBulletList.1' | translate }}</li>
          <li>{{ 'homeComponent.filesManagerBulletList.2' | translate }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" routerLink="/files">
          {{ 'homeComponent.filesManagerButton' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-header>
        <mat-card-title>{{ 'homeComponent.aiChatTitle' | translate }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>{{ 'homeComponent.aiChatBulletList.0' | translate }}</li>
          <li>{{ 'homeComponent.aiChatBulletList.1' | translate }}</li>
          <li>{{ 'homeComponent.aiChatBulletList.2' | translate }}</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/chat">
          {{ 'homeComponent.aiChatButton' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <p>
    {{ 'homeComponent.summary' | translate }}
  </p>
</div>
