<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h2>Login</h2>
  <mat-form-field appearance="fill">
    <mat-label>Account Name</mat-label>
    <input matInput formControlName="accountName" type="text" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" type="password" />
  </mat-form-field>

  <p>
    Not signed up yet?
    <a [routerLink]="['/auth/register']" routerLinkActive="router-link-active">Register</a>
  </p>
  <button mat-raised-button color="primary" type="submit">Login</button>
  @if (errorMessage) {
    <mat-error>{{ this.errorMessage }}</mat-error>
  }
</form>
