@import 'variables';

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 2px;
  list-style: none;

  &-item {
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: $primary-A100;
      &:hover {
        color: $accent-500;
      }
    }
    span {
      color: $color-gray-900;
      text-decoration: underline;
    }
  }
}
