<nav aria-label="breadcrumbs">
  <ul class="breadcrumbs">
    <li class="breadcrumbs-item">
      <a [routerLink]="['/']" class="link">Home</a>
    </li>
    @for (item of breadcrumbs; track item; let idx = $index; let last = $last) {
      <mat-icon class="chevron">chevron_right</mat-icon>
      @if (last) {
        <li class="breadcrumbs-item">
          <span>{{ item.label }}</span>
        </li>
      } @else {
        <li class="breadcrumbs-item">
          <a [routerLink]="item.url">{{ item.label }}</a>
        </li>
      }
    }
  </ul>
</nav>
